---
layout: layouts/base.njk
title: VIVANTIA – Agir pour préserver le vivant
description: Une structure engagée au service du vivant.
---

{% include "partials/hero.njk" %}
{% include "partials/manifeste.njk" %}
{% include "partials/poles.njk" %}
{% include "partials/engagements.njk" %}
{% include "partials/anne.njk" %}
{% include "partials/clients.njk" %}
{% include "partials/contact.njk" %}
{% include "partials/mentions.njk" %}